// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-sports{
  img{
    width: 50px;
  }
}

.clear-fix{
  width: 100%;
  overflow: auto;
  padding: 0 0 20px 0;
  float: left;
  margin-top: 5px;
}

.games-container{
  width: 100%;
  max-width: 400px;
  box-shadow: 3px 3px 2px rgb(230, 230, 230);
  border: 1px solid rgb(196, 196, 196);
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0;

  .teams{
    width:300px;
    border-right: 1px solid rgb(190, 190, 190);
    float: left;
    margin:0;
  }

  .details{
    width: 90px;
    float: left;
    text-align: center;
    p{
      line-height: 100%;
    }
    .game-type{
      margin-top: 2em;
      font-size: 15px;
    }
    .date{
      margin-top: 0px;
      color: rgb(65, 65, 65);
    }
  }

  .lose{
    p, span, a{
      color: rgb(143, 143, 143) !important;
    }
  }
  
  img{
    width:30px;
    height: 30px;
    margin: 15px 5px 15px 15px;
  }
  span{
    float: right;
    font-size: 20px;
    margin:  15px 15px 15px 15px;
  }
  p{
    font-size: 14px;
  }
  .team-score{
    border-bottom: 1px solid rgb(179, 179, 179)
  }
}


label{
  display: block;
  width: 100%;
}

input[type="text"],input[type="number"], input[type="password"]{
  width: 100%;
  padding: 4px;
  border: 1px solid rgb(201, 201, 201);
}

input[type="submit"]{
  width: 100%;
  max-width: 300px;;
  padding: 4px;
  border: 1px solid rgb(201, 201, 201);
  margin: 0 auto;
}

.actions{
  text-align: right;;
}

select{
  width: 100%;
  padding: 6px 4px;
  border: 1px solid rgb(201, 201, 201);
}

#game_schedule_1i,#game_schedule_2i,#game_schedule_3i,#game_schedule_4i,#game_schedule_5i{
  width: auto;
}

input[type="file"]{
  width: 100%;
  padding: 4px;
  border: 1px solid rgb(201, 201, 201);
}

table{
  margin-top: 5px;
}



@media screen and (max-width: 600px) {
  .teams{
    width:100%;
    border-right: 1px solid white !important;
  }
  .team-score{
    width: 100%;

    border-right: 1px solid white;
  }

  .games-container{

    .teams{
      width:100%;
    }
  }

  .details{
    width: 100% !important;
    float: none;
    text-align: center;
    p{
      line-height: 100%;
    }
    .game-type{
      margin-top: 2em;
      font-size: 15px;
    }
    .date{
      margin-top: 0px;
      color: rgb(65, 65, 65);
    }
  }

}