// Place all the styles related to the LiveView controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.live{
  background-color: white !important;
  margin: 0 !important;
  .game{
    text-align: center;

    img{
      width: 26vw;
      height: 26vw;
      display: block;
      margin: 0 auto;
    }
    span{
      display: block;
      margin-top: 10vw !important;
      font-size: 10vw;
    }
    .team-name{
      font-size: 3vw;
      line-height: 4vw;
    }
    .score{
      margin-top: 6vw;
      font-size: 10vw;
    }
  }
  h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 0 !important;
  }

  .results{
    h3, h2{
      text-align: center;
    }
    img.logo{
      width: 200px;
    }
    
    img.table-image{
      width: 75px;
      height: 75px;
    }
    table{
      width: 100%;
      margin: 0 auto;
    }
  }
}

.main-live{
  background-color: rgba(255, 255, 255, 0.37);

  .game-score{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center !important
  }
}

.new-live{
  img{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
  .live-vs{
    font-size: 80px;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin-top: 80px;
  }
  .team-name{
    font-size: 40px;
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }
  .score{
    display: block;
    text-align: center;
    font-weight: bolder;
    margin-top: 50px;
    font-size: 80px;
  }
}

.live-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  opacity: 1;
 }

 .stats-container{
   padding: 10px;
   background-color: rgba(0, 15, 151, 0.466);

 }

  table.statistics-live{
    color: white;
    img{
      width: 50px !important;
      height: 50px !important;
    }
  }