// .marquee {
//   background-color: #ddd;
//   width: 100%;
//   margin: 0 auto;
//   overflow: hidden;
//   white-space: nowrap;
// }

// .marquee span {
//   display: inline-block;
//   font-size: 20px;
//   position: relative;
//   left: 100%;
//   animation: marquee 5s linear infinite;
// }

// .marquee:hover span {
//   animation-play-state: paused;
// }

// .marquee span:nth-child(1) {
//   animation-delay: 0s;
// }

// @keyframes marquee {
//   0%   { left: 100%; }
//   100% { left: -180%; }
// }
marquee{
  background-color: blue;

  padding: 5px;
  
  .marquee-item{
    margin-left: 20px;
    display: inline-block;
    text-align: center;
  }
  img{
    width: 50px;
  }
  a{
    font-size: x-large !important;
    color: #d6d6d6 !important;
  }
  span{
    font-weight: bold;
    font-size: xx-large !important;
    color: white
  }
  .vs{
    color: white;
    font-size: large;
  }
}